<form method="post" action="/UserData/Save">

    <div style="display:@ViewBag.Block">
        @*переписать без формы на событие javascript*@
        <input name="Name" type="text" placeholder="Имя графика" />
        <input type="submit" value="save" class="btn btn-primary btn-block" />
    </div>

</form>
