@model Func.Web.Models.UserDataViewModel
@{
    ViewBag.Title = "База графиков";
}

<h2>Сохраненные графики</h2>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>

<script>
    window.onload = function () {
        var canvas = document.getElementsByTagName('canvas')[0];
        var ctx = canvas.getContext("2d");

        ctx.save();
        var dataY = JSON.parse('@ViewBag.DataY');
        var dataX = JSON.parse('@ViewBag.DataX');

        var speedData = {
            labels: dataY,
            datasets: [{
                label: "Parabolic Function",
                data: dataX,
                fill: false,
                borderColor: 'red',
                pointBorderColor: 'black',
                pointBackgroundColor: 'rgba(255,150,0,0.5)',
                pointRadius: 2,
                pointHoverRadius: 10,
                pointHitRadius: 30,
                pointBorderWidth: 2,
                pointStyle: 'rectRounded'
            }]
                };
        var lineChart = new Chart(ctx, {
            type: 'line',
            data: speedData
                });
    }

</script>

<body>
    <div style="float:left">
        <canvas id=canvas width="400" height="400" style="background:white; border: solid 1px;"></canvas>
    </div>
    <div>
        <p style="color: red; font-size:22px">@ViewBag.message</p>
    </div>
    <div style=" float:left">
        @using (Html.BeginForm())
        {
            <div class="form-group">
                <div style="width: 200px" class="col-md-offset-2 col-md-10">
                    @Html.DropDownList("G", null, "-Выбрать график-", htmlAttributes: new { @class = "form-control" })
                    <input type="submit" value="Показать" class="btn btn-default" />
                </div>
            </div>
        }
    </div>

</body>
